<mat-card class="max-div">
  <img src="{{ goods.image }}" alt="{{ goods.name }}" class="test-poster" />
  <mat-card-content class="min-div">
    <h6><b>Product Name :</b> {{ goods.name }}</h6>
    <h6>Price : ${{ goods.price }}</h6>

    <div class="page">
      <button
        mat-icon-button
        aria-label="Details of page"
        routerLink="/page/{{ goods.id }}"
      >
        <mat-icon>info</mat-icon>
      </button>

      <button
        mat-icon-button
        aria-label="Details of cart"
        routerLink="/page/cart"
      >
        <mat-icon><i class="fa-solid fa-cart-plus"></i></mat-icon>
      </button>
    </div>
  </mat-card-content>
</mat-card>
