.max-div
{
    width:400px;
}
.min-div
{
    width:400px;
    
}
.test-poster
{
    width:400px;
}
.main
{
    display:grid;
    min-height: 100vh;
    margin: 0px;
    place-content: center;
    text-align: center;
    
}
.test-poster{
    object-fit: cover;
    height:470px;

}